#header-nav{
    background-color: grey;
    border-radius: 0;
    border: 2px solid black;
}

.navbar-brand {
    padding-top: 20px;
}

.navbar-brand h1{
    font-family: "Lora", serif;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

/* No decoration for a link */
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list{
    margin-top: 10px;
}

#nav-list a{
    color: black;
    text-align: center;
}

#nav-list a:hover{
    background: #E7E7E7;
}

#nav-list a span{
    font-size: 1.8em;
}

/* lecture 32 3:35 */
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid black;
}

.navbar-header button.navbar-toggle{
    clear: both;
    margin-top: -30px;
}

.section{
    border: 1px solid black;
    background-color: #808080;
    height: 1000px;
    margin: 10px;
    overflow: auto;
    position: relative;
    font-weight: bold;
    padding: 10px;
}
