<div class="container">
    <h2 class="text-center">Your registered information</h2>

    <div ng-if="!infoCtrlroller.checkIfRegistered()">
        Not Signed Up Yet.
        <a ui-sref="public.signup"></span><br class="hidden-xs"> Sign up Now!</a>
    </div>

    <div ng-if="infoCtrlroller.checkIfRegistered()">

        <div class="row">
            <div class="menu-item-description col-sm-7">
              <h3 class="menu-item-title">First name</h3>
              <p class="menu-item-details">{{infoCtrlroller.firstName}}</p>
            </div>
          </div>

          <div class="row">
            <div class="menu-item-description col-sm-7">
              <h3 class="menu-item-title">Last name</h3>
              <p class="menu-item-details">{{infoCtrlroller.lastName}}</p>
            </div>
          </div>

          <div class="row">
            <div class="menu-item-description col-sm-7">
              <h3 class="menu-item-title">Email</h3>
              <p class="menu-item-details">{{infoCtrlroller.email}}</p>
            </div>
          </div>

          <div class="row">
            <div class="menu-item-description col-sm-7">
              <h3 class="menu-item-title">Phone</h3>
              <p class="menu-item-details">{{infoCtrlroller.phone}}</p>
            </div>
          </div>

          <br><br>
          <div class="row">
            <div class="menu-item-description col-sm-7">
              <h3 class="menu-item-title">Your Favorite Dish</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <div class="menu-item-photo">
                <img width="250" height="200" ng-src="images/menu/{{infoCtrlroller.categoryShortName}}/{{infoCtrlroller.shortName}}.jpg" alt="{{infoCtrlroller.title}}">
                <span>{{infoCtrlroller.title}}</span>
          </div>

          <div class="row">
            <div class="menu-item-description col-sm-7">
              <h3 class="menu-item-title">Title</h3>
              <p class="menu-item-details">{{infoCtrlroller.title}}</p>
            </div>
          </div>

          <div class="row">
            <div class="menu-item-description col-sm-7">
              <h3 class="menu-item-title">Description</h3>
              <p class="menu-item-details">{{infoCtrlroller.description}}</p>
            </div>
          </div>

    </div>

</div>




